/* Button Styling */
.btn1 {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    z-index: 10;
}

.btn1 span {
    display: block;
    margin-top: 10px;
    font-size: 0.9em;
    color: white;
    font-weight: bold;
}

.btn1:hover {
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3),
                inset 0 4px 6px rgba(255, 255, 255, 0.3);
}
